.nav-links a[href="login.html"]{
    border:1px solid #22d3ee;
    padding:8px 18px;
    border-radius:8px;
    color:#22d3ee;
}

.nav-links a[href="login.html"]:hover{
    background:#22d3ee;
    color:#000;
}.login-btn{
    border:1px solid #22d3ee;
    padding:10px 20px;
    border-radius:8px;
    color:#22d3ee !important;
    text-decoration:none;
    transition:0.3s;
}

.login-btn:hover{
    background:#22d3ee;
    color:black !important;
}

/* Mobile Responsive Navbar */
@media (max-width: 768px) {

    .nav-container {
        flex-direction: column;
        text-align: center;
    }

    .nav-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
    }

    .nav-links a {
        font-size: 14px;
        padding: 5px;
    }

    .logo {
        margin-bottom: 10px;
    }
}
nav{
    display:block !important;
    visibility:visible !important;
}

.nav-links{
    display:flex !important;
    visibility:visible !important;
}